.pending {
    background-color: #c52542;
    height: 300px;
    width: 100%;
    color: #e0d0d7;
}

.checkbox{
    background-color: #d7b474;
    color: #111010;
    font-size: 20px;
    height: 10rem;
    width: 30rem;
    margin-left: 35%;
    border-radius: 20px;
    border: 2px solid #0cdede;
    text-align: center;
}
.checkbox_active {
    background-color: #40cc55;
    color: white;
    height: 10rem;
    width: 10rem;
}
.timezone{
    color: white;
    background: linear-gradient(#e66465, #9198e5);
    height: 140px;
    width: 600px;
    font-size: 30px;
    margin-left: 33%;
    margin-top: 60px;
    border-radius: 50%;
}
input{
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
}

.buttons{
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #f110cc inset, 0 0 0 0 #3ec6d9;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
    cursor: pointer;
    margin-right: 60rem;
}

.images__list {
    height: 120px;
    width: 100px;
    position: relative;
}
.images__list_avatar {
    background-image: url("../images/x2/Ramka.png");
    height : 240px;
    width : 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.position__images{
    background-color: rgba(67, 200, 231, 0.43);
    display: flex;
}

.formik_validation{
    display: inline-block;

    width: 500px;
    background: linear-gradient(rgb(77, 229, 204), rgb(238, 47, 236));
    opacity: .8;
    border-radius: 10%;
}
.formik_button{
    display: inline-block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
    outline: none;
    border: none;
    border-radius: 100px;
    background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(71, 196, 37, 0.2), rgba(183, 57, 232, 0));
    box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
    color: rgb(255, 255, 255);
    user-select: none;
    margin: 20px 0px 10px 10px;
}
.formik_button:hover {
    color: rgb(0,59,66);
    cursor: pointer;
}
.formik_button:active {
    padding-bottom: 1px;
    box-shadow:
            inset rgba(0,0,0,1) 0 1px 3px,
            inset rgba(0,0,0,.6) 0 -2px 5px,
            inset rgba(252,255,255,.7) 0 2px 5px,
            0 1px rgba(255,255,255,.08);
    color: rgb(128,207,214);
}
.label_form{
    color: #050505;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 20px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;

}
.label_form_long{
    color: #101010;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.label_form_errors{
    color: red;
    font-size: 20px;
    background-color: beige;
}