.pending {
    background-color: #c52542;
    height: 300px;
    width: 100%;
    color: #e0d0d7;
}

.checkbox{
    background-color: #d7b474;
    color: #111010;
    font-size: 20px;
    height: 10rem;
    width: 30rem;
    margin-left: 35%;
    border-radius: 20px;
    border: 2px solid #0cdede;
    text-align: center;
}
.checkbox_active {
    background-color: #40cc55;
    color: white;
    height: 10rem;
    width: 10rem;
}
.timezone{
    color: white;
    background: linear-gradient(#e66465, #9198e5);
    height: 140px;
    width: 600px;
    font-size: 30px;
    margin-left: 33%;
    margin-top: 60px;
    border-radius: 50%;
}
input{
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    width: 400px;
}

.buttons{
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.buttons:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 10rem;
    z-index: -2;
}
.buttons:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: grey;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}
.buttons:hover{
    color: #fff;
}
.buttons:before {
    width: 100%;
}

.images__list {
    height: 120px;
    width: 100px;
    position: relative;
}
.images__list_avatar {
    display: flex;
    background-image: url("../images/x2/Ramka.png");
    height : 240px;
    width: 100px;
    padding: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 60px;
}
.images__list_avatar:first-child{
    opacity: 0.5;
    background-color: #292a27;
    width: 100%;
}

.position__images{
    display: flex;

}


.close_modal{
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: -14em;
    cursor: pointer;
}

.label_form{
    color: #050505;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 20px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;

}
.label_form_long{
    color: #101010;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    letter-spacing: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}
.label_form_errors{
    color: red;
    font-size: 20px;
    background-color: beige;
}
.show_modal{
    width: 700px;
    height: 300px;
    background-color: #aade0a;
    transition: .5s;
    opacity: .8;
    border-radius: 10px;
    margin-right: auto;
    margin-left: 33%;
}
.show_modal_text{
    color: #396233;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    position: relative;
}
.forms_letters {
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.imagelist {
    display: flex;
}
.tablenews {
    background-color: transparent;
    color: #0cdede;
    text-transform: uppercase;
    border: 3px solid red;
    width: 100%;
    display: grid;
    font-size: 20px;
    font-weight: 800;
    text-align: initial;
}

table > td, td {
    border: 2px solid #22261b;
    background-color: transparent;
}
table > td:hover{
    background-color: #b1b2b2;
    opacity: .5;
    cursor: pointer;
}