.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  bottom: 0;
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #111010;
}

.state{
  margin-top: 20px;
  background-color: #b3d4da;
  font-size: 30px;
  font-weight: bold;
  color: #4dc772;
}

.reflinks {
  font-size: 30px;
  color: transparent;
}
h1{
  font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  background: #8d8dd2;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 5px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
}
.styles_title{
  font-size: 3rem;
  font-weight: 700;
  text-shadow:
          -1px -1px #000,
          0 1px 0 #444;
  color: #222;
  transition: all 1s;
  margin-right: 55rem;
}
.styles_title:hover{
  text-shadow:
          -1px -1px #000,
          0 1px 0 #444;
  color: #1A1A1A;
}
.imagesList {
  background-color: #fff;
  font-size: 30px;
}

.title{
  bottom: 0;
  position: absolute;
  font-size: 30px;
  text-align: center;
  background-color: #797b82;
  height: 100px;
  width: 100%;
}